html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center; 
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c94b);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: 100vh; 
    justify-content: center; 
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    width: 65px;   
}

.calc-button:last-child {
    background: #d72880; 
    color: white; 
}


.calc-button:first-child {
    background: #e0e0e0; 
}

.calc-button:first-child:hover {
    background-color: #e0e0e0; 
}

.calc-button:hover {
    background-color: rgba(255, 255, 255, 0.9); 
}

.calc-button:active {
    background-color: #ffef78; 
}
.calc-button:first-child {
    background: #e0e0e0; 
}
.calc-button:first-child:hover {
    background-color: #e0e0e0; 
}


.double{
    flex-basis: 50%;
}

.triple{
    flex-basis: 73%;
}